@import 'tailwindcss';

:root {
	--ghost: oklch(98.205% 0.004 91.461);
	--varaccent: #1e3bfa
}

@theme {
	--color-varaccent: var(--varaccent);
	--color-ghost: var(--ghost);

	--font-inter: 'Inter', sans-serif;
	--font-general-sans: 'General Sans', sans-serif;
	--font-gambarino: 'Gambarino', sans-serif;
}

@layer components {
	.section-px {
		padding-left: clamp(1rem, 3vw, 2.5rem);
		padding-right: clamp(1rem, 3vw, 2.5rem);
	}
}

body {
	background-color: var(--color-ghost);
	/* height: calc(100dvh - 5rem); */
	width: 100dvw;
	min-height: 100dvh;
}