@import 'tailwindcss';

:root {
	--ghost: oklch(98.205% 0.004 91.461);
	--varaccent: oklch(49.378% 0.27583 266.272);
}

@theme {
	--color-varaccent: var(--varaccent);
	--color-ghost: var(--ghost);

	--font-inter: 'Inter', sans-serif;
	--font-general-sans: 'General Sans', sans-serif;
	--font-gambarino: 'Gambarino', sans-serif;
}

body {
	padding-left: clamp(1rem, 3vw, 2.5rem);
	padding-right: clamp(1rem, 3vw, 2.5rem);
	background-color: var(--color-ghost);
	/* height: calc(100dvh - 5rem); */
	width: 100dvw;
	min-height: 100dvh;
}